{% extends '_main.html' %}
{% block main %}
    <div class="row">
        <div class="col-sm-12 col md-12">
            <h1>API</h1>
            <p>На сайте доступно публичное HTTP API в формате JSON.</p>
            <p>Информация о списке фильмов и их детальной инормации доступна по адресу
                <a href="/api/get_films_list">/api/get_films_list</a>.</p>
            Для уточнения информации в запросе доступны ключи:
            <ul>
                <li><code>top_size</code> - Размер итогового списка (с сортировкой по рейтингу фильма).</li>
                <li><code>cinemas_over</code> - Минимальное количество кинотеатров, в которых идет показ фильма.</li>
                <li><code>rating_over</code> - Минимальный рейтинг фильма.</li>
                <li><code>city - Фильтр фильмов по городу.</code></li>
            </ul>
            <p>Информация о конкретном фильме доступна по адресу:
                <a href="/api/movie/<film_id>">/api/movie/&lt;film_id&gt;</a>.</p>
            В этом запросе доступен единственный ключ: <code>city</code> для получения информации о количестве кинотеатров в которых идет показ фильма в указанном городе.
        </div>
    </div>
{% endblock %}